
.quiz-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.quiz-card:hover {
    transform: scale(1.02, 1.02);
}

.quiz-image {
    background-color: #dedede;
    border-radius: 10px!important;
    width: 300px !important;
    height: 200px !important;
}

.quiz-card .content {
    width: 100%;
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz-card .content .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.content-header .title {
    font-family: Poppins-Regular;
    font-size:  1.4rem;
    margin-top: 10px;
    color: #210f46;
    margin-bottom: 0.5rem;
    width: 100%;
}

.description {
    font-family: Poppins-Regular;
    font-size:  1rem;
    margin-top: 10px;
    color: #989898;
    margin-bottom: 0.5rem;
    width: 100%;
}

.content-header .status {
    padding: 5px 20px;
    font-family: Poppins-Regular;
    border-radius: 10px;
}

.content-header .status.status-gray {
    background-color: #dedede;
}

.content-header .status.status-red {
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
}


.content-header .status.status-green {
    background-color: rgb(76, 187, 23, 0.1);
    color: rgb(76, 187, 23);
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.status-circle.status-red {
    background-color: red;
}

.status-circle.status-green {
    background-color: rgb(76, 187, 23);
}  
  .nav-bar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-bottom: 1px solid #dedede;
    position: relative;
    z-index: 2;
  }

  .nav-bar .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins-Regular;
    padding: 20px;
  }

  .nav-bar .navigation-container .brand {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-bar .navigation-container .brand span {
    color: #a97fff;
    font-weight: 600;
  }


  @media screen and (max-width: 450px) {

    .nav-bar .navigation-container{
        padding: 10px;
    }

    .nav-bar .navigation-container .brand {
        font-size: 1.2rem;
        cursor: pointer;
    }

    .quiz-card .content {
        padding: 5px;
    }

    .quiz-card .content .content-header .title {
        font-size: 0.9rem;
    }

    .quiz-card .content .content-header .status-circle {
        width: 12px;
        height: 12px;
    }

    .quiz-card .content .description {
        font-size: 0.8rem;
    }

    .quiz-image {
        width: 150px !important;
        height: 100px !important;
        border-radius: 5px;
    }
  }