
.quiz-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.quiz-card:hover {
    transform: scale(1.02, 1.02);
}

.quiz-image {
    background-color: #dedede;
    border-radius: 10px!important;
    width: 300px !important;
    height: 200px !important;
}

.quiz-card .content {
    width: 100%;
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz-card .content .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.content-header .title-container {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.content-header .title {
    font-family: Poppins-Regular;
    font-size:  1.4rem;
    margin-top: 10pxpx;
    color: #210f46;
    margin-bottom: 0.5rem;
    width: 100%;
}

.description {
    font-family: Poppins-Regular;
    font-size:  1rem;
    margin-top: 10px;
    color: #989898;
    margin-bottom: 0.5rem;
    width: 100%;
}

.content-header .status {
    padding: 5px 20px;
    font-family: Poppins-Regular;
    border-radius: 10px;
}

.content-header .status.status-gray {
    background-color: #dedede;
}

.content-header .status.status-red {
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
}


.content-header .status.status-green {
    background-color: rgb(76, 187, 23, 0.1);
    color: rgb(76, 187, 23);
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.status-circle.status-red {
    background-color: red;
}

.status-circle.status-green {
    background-color: rgb(76, 187, 23);
}  
  .nav-bar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-bottom: 1px solid #dedede;
    position: relative;
    z-index: 2;
  }

  .nav-bar .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins-Regular;
    padding: 20px;
  }

  .nav-bar .navigation-container .brand {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-bar .navigation-container .brand span {
    color: #a97fff;
    font-weight: 600;
  }


  @media screen and (max-width: 450px) {

    .nav-bar .navigation-container{
        padding: 10px;
    }

    .nav-bar .navigation-container .brand {
        font-size: 1.2rem;
        cursor: pointer;
    }

    .quiz-card .content {
        padding: 5px;
    }

    .quiz-card .content .content-header .title {
        font-size: 0.9rem;
    }

    .quiz-card .content .content-header .status-circle {
        width: 12px;
        height: 12px;
    }

    .quiz-card .content .description {
        font-size: 0.8rem;
    }

    .quiz-image {
        width: 150px !important;
        height: 100px !important;
        border-radius: 5px;
    }
  }

  /* Checkbox Css */

  .checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
  }

  @-moz-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @-webkit-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-webkit-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-moz-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  .checkbox-wrapper-19 input[type=checkbox] {
    display: none;
  }

  .checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  .checkbox-wrapper-19 .check-box::before,
  .checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: #a97fff;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
  }
  .checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
  .checkbox-wrapper-19 .check-box.checked {
    border-color: #a97fff;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
  .checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
  .checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
  }

.tooltip-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.tooltip-container .tooltip {
  position: absolute;
  background-color: black;
  color: white;
  min-width: 100px;
  padding: 5px;
  border-radius: 5px;
  left: 50%;
  transition: all 0.4s ease-in-out;
}
  
.tooltip-container .tooltip.hide {
  opacity: 0;
  visibility: collapse;
  transform: translate(-50%, -130%);
}
  
.tooltip-container .tooltip.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -100%);
}
  
.tooltip-container .tooltip .message {
  text-wrap: wrap;
  font-size: 0.9rem !important;
  text-align: center;
}

.tooltip-container .tooltip .tooltip-point {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  color: black;
  height: 10px;
  width: 20px;
  font-size: 5rem;
}
  
.tooltip-container .tooltip.tooltip-data .tooltip {
  min-width: 150px !important;
  padding: 0px;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.tooltip-container .tooltip.tooltip-data .tooltip.hide {
  transform: translate(0%, -100%);
}
  
.tooltip-container .tooltip.tooltip-data .tooltip.show {
  transform: translate(0%, -80%);
}
  
.tooltip-container .tooltip.tooltip-data .tooltip.left {
  transform: translate(-27%, -90%);
}

.tooltip-container .tooltip.tooltip-data .tooltip.left.hide {
  transform: translate(-27%, -100%);
}
  
.tooltip-container .tooltip.tooltip-data .tooltip.left.show {
  transform: translate(-27%, -80%);
}
  
.tooltip-container .tooltip.tooltip-data .tooltip .message {
  text-wrap: wrap;
  font-size: 0.8rem !important;
  text-align: center !important;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 5px;
  text-align: center;
}
  
.tooltip-container .tooltip.tooltip-data .tooltip .tooltip-point {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  height: 10px;
  width: 20px;
  font-size: 5rem;
  fill: white;
}

.tooltip-container .tooltip.tooltip-data .tooltip .icon {
  cursor: pointer;
  color: #989898;
  transition: all 0.2s ease-in-out;
  font-size: 1.1rem;
}

.tooltip-container .tooltip.tooltip-data .tooltip .icon:hover {
  color: black;
}