@font-face {
  font-family: Poppins-Regular;
  src: url("/src/assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("/src/assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("/src/assets/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("/src/assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Thin;
  src: url("/src/assets/fonts/poppins/Poppins-Thin.ttf");
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .configuration-panel-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px; /* Adjust margin as needed */
    margin-right: 20px; /* Adjust margin as needed */
  }


  .loader-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5em;
  }

  .loader-container .text {
    font-family: Poppins-Regular;
    font-size: 1.2rem;
  }

  .loader-container .text strong {
    color: #a97fff
  }
  
.loading-wave {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #a97fff;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}

@media screen and (max-width: 450px) {
  .loader-container .text {
    font-size: 0.8rem;
    text-align: center !important;
  }

  .loading-wave {
    height: 50px;
    width: 100px;
    gap: 0px;
  }

  .loading-bar {
    width: 5px;
    margin: 0 2px;
    animation: loading-wave-animation 1s ease-in-out infinite;
  }

  @keyframes loading-wave-animation {
    0% {
      height: 10px;
    }
  
    50% {
      height: 30px;
    }
  
    100% {
      height: 10px;
    }
  }
}

.full-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-center {
  width: 60%;
  height: 60%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.registration-page {
  display: flex;
  height: 100%;
}

.registration-page .form,
.registration-page .image {
  width: 100%;
  margin-left: 2em;
  font-family: 'Poppins-Regular';
}

.registration-page .image .img {
  background-color: #dedede;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.registration-page .form {
  padding: 1.5em;
}

.registration-page .form .title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #a97fff;
  text-align: center;
}

.registration-page .form .note {
  font-size: 0.9rem;
  text-align: center;
  color: #989898;
}

.registration-page .form .note a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.registration-page .form .note a:hover {
  color: #a97fff;
}

.input-controls {
  margin-top: 4.5em;
}

.input-controls .input-group {
  margin: 1.2em 0px;
}

.input-controls .input-group label {
  font-size: 0.9rem;
}

.input-controls .input-group input {
  border: 0px;
  border-radius: 5px;
  padding: 14px 10px;
  margin-top: 0.3em;
}

.registration-loader {
  border: 1px solid #a97fff;
  padding: 5px;
  border-radius: 5px;
}