/* TextCustomization.css */

.Background-customization-header {
    background-color: #99FFFF;
    color: black;
    cursor: pointer;
    padding: 9px;
    width: 100%;
    height:40px;
    border: 1px solid grey; /* Removed the incorrect border property */
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 0px; /* Adjust the value for desired rounded corner radius */
    user-select: none;
    display: flex;
    
    
  }
  
  /* Hover effect to demonstrate expanding animation */
  .Background-customization-header:hover {
    width: 100%; /* Adjust width as per your requirement */
  }
  
  
  .active, .Background-customization-header:hover {
    background-color: #00BFFF;
  }

  .symbol {
    justify-content: right;
    align-items: right;
    color: darkturquoise;

  }
/* TextCustomization.css */
.Background-Options{
    margin-right : 20px;
}
.color-options {
    display: flex;
    flex-wrap: wrap;
    
  }
  .color-options span:hover {
    transform: scale(1.2);
  }
  
  .color-options span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
  }
  
.Background-Options{
  margin-left: 20px;
}
  