  .contentContainer {
    display: flex;
    height: 93.7vh;
  }
  
  .leftColumn {
    flex-grow: 1; /* Take up remaining space */
    background-color: white;
  }
  
  .rightColumn {
    flex-shrink: 0; /* Do not shrink */
    width: 22%; /* Fixed width of 30% */
    background-color: white; /* Changed color for visualization */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  

.card {
  border: 0px !important;
}

.card .options {
  max-height: 1000px !important;
  position: static;
  color: white;
  box-shadow: none;
  background-color: transparent;
}

.full {
  height: 100%;
  width: 100%;
}