/* TextCustomization.css */

.text-customization {
}


.text-customization-header {
    background-color: white;
    color: black;
    font-weight: 500;
    padding: 1em !important;
    cursor: pointer;
    border-bottom: #dedede; /* Removed the incorrect border property */
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 0px; /* Adjust the value for desired rounded corner radius */
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid #dedede;
  }

  .text-customization-header svg {
    height: 20px;
    width: 20px;
    transition: all 0.2s ease-in-out;
  }

  .text-customization.expanded .text-customization-header {
    border-bottom: 1px solid #dedede;
    background-color: #f2f2f2;
  }

  .text-customization.expanded .text-customization-header svg {
    transform: rotate(-90deg);
  }

  .active, .text-customization-header:hover {
    background-color: #f8f8fa;
  }

  .symbol {
    justify-items: end;
    align-items: end;
    user-select: none;
    color: darkturquoise;

  }

.text-customization .text-customization-options{
  transition: all 0.2s ease-in-out;
  max-height: 0px;
  overflow: hidden;
}

.text-customization .text-customization-options > div{
  padding: 1em;
}

.text-customization.expanded .text-customization-options{
  max-height: 5000px;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
}

.text-customization.expanded .text-customization-options.overflow-disabled {
  overflow: visible;
}

.text-customization-options .panel-heading {
  font-size: 18px;
  color: #989898;
  font-weight: 300;
  margin-top: 0.5em;;
}

.panel-items {
  margin-bottom: 1em;
}

.item {
  margin: 0.8em 0;
}

.item .item-title {
  color: #989898;
  font-size: 16px;
  margin-bottom: 5px;
}

.item.item-combined {
  display: flex;
}

.item.item-combined .select {
  width: 50%;
}

.item.item-combined input {
  width: 50%;
}

input {
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 5px;
  outline: none;
}

.input-combined {
  padding: 0 8px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.input-combined .label {
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  align-items: center;
  font-size: 24px;
  color: #989898;
}

.input-combined .label.small {
  font-size: 14px;
}

.item .input-combined .label.left{
  margin-left: 10px;
}

.item .input-combined .label.right{
  margin-right: 10px;
}
 
.item .input-combined input {
  width: 80%;
  border: 0px;
}

.item.item-combined .select {
  width: 50%;
}

.item.item-combined .select .value {
  border-radius: 5px 0px 0px 5px;
}


.item.item-combined .input-combined {
  width: 50%;
  border-radius: 0 5px 5px 0px;
}


.item.item.item-combined .child:nth-child(n){
  border-right: 1px solid #dedede;
}

.item.item.item-combined .child:last-child{
  border-right: 0px;
}

.item.item-combined.w-70-30 .child:first-child {
  width: 70%;
}

.item.item-combined.w-70-30 .child:last-child {
  width: 30%;
}

.item.item-combined.w-60-40 .child:first-child {
  width: 60%;
}

.item.item-combined.w-60-40 .child:last-child {
  width: 40%;
}

.item .color-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 0 10px;
  border-radius: 5px;
}

.item .color-box input[type='color'] {
  height: 25px;
  width: 25px;
  background-color: white;
  padding: 0px;
  outline: none;
  border: 0px;
  border-radius: 5px;
  overflow: hidden;
}

.item .color-box input[type='text'] {
  width: 90%;
  border: 0px;
}

.item.item-combined .btn {
  width: 100%;
  padding: 4px;
  border-radius: 0px;
  border: 0px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn > div {
  height: 100%;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.btn:hover > div {
  background-color: #cce1f9;
}


.btn > div svg {
  font-size: 23px;
  color: #989898;
  transition: all 0.2s ease-in-out;
}

.btn:hover > div svg {
  color: black;
}

.btn.active > div {
  background-color: white !important;
}

.btn.active > div svg {
  color: #2b81f2;
}

.item.item-combined .btn:first-child {
  border-radius: 5px 0 0 5px;
}

.item.item-combined .btn:last-child {
  border-radius: 0 5px 5px 0;
}

.item.item-combined .btn:nth-child(n){
  border-right: 0px solid #dedede !important;
}

.margin-container {
  width: 100%;
  height: 250px;
  position: relative;
}

.margin-container .b1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 125px;
  width: 125px;
  background-color: white;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.margin-container .b2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 75px;
  width: 75px;
  border: 1px solid #989898;
  border-radius: 5px;
  background-color: #cce1f9;
}

.margin-container .b3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid #3e8ddb;
  border-radius: 5px;
  background-color: white;
}

.margin-container .icons-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 0.23em;
}

.margin-container .icons-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.margin-container .b1 .icon {
  position: relative;
}

.margin-container .b1 .icon svg {
  color: #989898;
  font-size: 14px;
}

.margin-container .b2 .icon svg {
  color: #3e8ddb;
  font-size: 14px;
}

.margin-container .input-combined{
  position: absolute;
  border: 0px;
  outline: none;
  width: 60%;
  text-align: center;
}

.margin-container .input-combined input {
  border: 0px;
  padding: 8px 0px;
  width: 80%;
  outline: none;
  font-size: 14px;
  text-align: center;
}

.margin-container .input-combined .label {
  font-size: 14px;
}

.margin-container .input-combined.top {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -130%);
}

.margin-container .input-combined.right {
  top: 50%;
  right: 0;
  transform: translate(120%, -50%);
}

.margin-container .input-combined.bottom {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 130%);
}

.margin-container .input-combined.left {
  top: 50%;
  left: 0;
  transform: translate(-120%, -50%);
}

.padding-container {
  width: 100%;
  height: 250px;
  position: relative;
}

.padding-container .b1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 125px;
  width: 125px;
  background-color: white;
  border: 1px solid #989898;
  border-radius: 5px;
  background-color: #cce1f9;
}

.padding-container .b2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 75px;
  width: 75px;
  border: 1px solid #3e8ddb;
  border-radius: 5px;
  background-color: white;
}

.padding-container .b3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: white;
}

.padding-container .icons-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 0.23em;
}

.padding-container .icons-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.padding-container .b1 .icon {
  position: relative;
}

.padding-container .b1 .icon svg {
  color: #3e8ddb;
  font-size: 14px;
}

.padding-container .b2 .icon svg {
  color: #989898;
  font-size: 14px;
}


.padding-container .input-combined{
  position: absolute;
  border: 0px;
  outline: none;
  width: 60%;
  text-align: center;
}

.padding-container .input-combined input {
  border: 0px;
  padding: 8px 0px;
  width: 80%;
  outline: none;
  font-size: 14px;
  text-align: center;
}

.padding-container .input-combined .label {
  font-size: 14px;
}

.padding-container .input-combined.top {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -130%);
}

.padding-container .input-combined.right {
  top: 50%;
  right: 0;
  transform: translate(120%, -50%);
}

.padding-container .input-combined.bottom {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 130%);
}

.padding-container .input-combined.left {
  top: 50%;
  left: 0;
  transform: translate(-120%, -50%);
}

.item-combined.spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-combined .btn-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload {
  display: flex;
  max-height: 100px;
}

.upload-btn {
  width: 100%;
  background-color: #f5f5f5;
  padding: 2em 8px;  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.upload-btn svg {
  font-size: 30px;
  color: #989898;
}

.file-upload .preview {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.file-upload .preview img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.file-upload .preview .close {
  position: absolute;
  top: 2%;
  right: 3%;
  cursor: pointer;
}

.file-upload .preview .close svg {
  transition: all 0.2s ease-in-out;
  color: red;
}

.file-upload .preview .close:hover svg {
  transform: scale(1.1, 1.1);
}

.item.hidden {
  max-height: 0px;
  overflow: hidden;
}